<body>
	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">

		<!-- Start Search Popup -->
		<div class="brown--color box-search-content search_active block-bg close__top">
			<form id="search_mini_form" class="minisearch" action="#">
				<div class="field__search">
					<input type="text" placeholder="Search entire store here...">
					<div class="action">
						<a href="#"><i class="zmdi zmdi-search"></i></a>
					</div>
				</div>
			</form>
			<div class="close__wrap">
				<span>Đóng</span>
			</div>
		</div>
		<!-- End Search Popup -->


		<!-- Start Navigation area -->
		<div class="slider-area brown__nav slider--15 slide__activation slide__arrow01 owl-carousel owl-theme">
			<!-- Start Single Slide -->
			<div class="slide animation__style10 bg-image--1 fullscreen align__center--left">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="slider__content">
								<div class="contentbox">
									<h2>Mua <span> những</span></h2>
									<h2>cuốn sách <span> yêu thích </span></h2>
									<h2>của bạn <span> ở đây </span></h2>
									<a class="shopbtn" href="#">shop now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Single Slide -->
			<!-- Start Single Slide -->
			<div class="slide animation__style10 bg-image--7 fullscreen align__center--left">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="slider__content">
								<div class="contentbox">
									<h2>Mua <span> những</span></h2>
									<h2>cuốn sách <span> yêu thích </span></h2>
									<h2>của bạn <span> ở đây </span></h2>
									<a class="shopbtn" href="#">shop now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Single Slide -->
		</div>
		<!-- End Navigation area -->

		<!-- ALL PRODUCT -->
		<section class="wn__bestseller__area bg--white pt--80  pb--30">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section__title text-center">
							<h2 class="title__be--2"> <span class="color--theme">Thể loại thường đọc</span></h2>
						</div>
					</div>
				</div>
				<div class="row mt--50">
					<div class="col-md-12 col-lg-12 col-sm-12">
						<div class="product__nav nav justify-content-center" role="tablist">
                            <a class="nav-item nav-link active" data-toggle="tab" href="#nav-lifeSkills" role="tab">Kỹ năng sống</a>
                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-children" role="tab">Thiếu nhi</a>
                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-language" role="tab">Học ngoại ngữ</a>
                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-science" role="tab">Kinh tế</a>
                        </div>
						<a href="book-shop" class="btn see-more-btn">Xem thêm <i class="fas fa-long-arrow-alt-right"></i></a>
					</div>
				</div>
				<div class="tab__container mt--60">
			
					<!-- Start Single Tab Content -->
					<div class="row single__tab tab-pane fade show active" id="nav-lifeSkills" role="tabpanel">
						<div class="product__indicator--4 arrows_style owl-carousel owl-theme">
							{{#each softSkillBook}}
							<div class="single__product">
								<!-- Start Single Product -->
								{{#each this.data}}
								<div class="col-lg-3 col-md-4 col-sm-6 col-12">
									<div class="product product__style--3">
										<div class="product__thumb">
											<a class="first__img" ><img src="{{cover}}" alt="{{title}}"></a>
											<a class="second__img animation1" href="/book-detail/{{_id}}"><img src="{{cover}}" alt="{{title}}"></a>
											<div class="hot__box">
												<span class="hot-label">Bán chạy</span>
											</div>
										</div>
										<div class="product__content content--center">
											<h4><a >{{title}}</a></h4>
											<ul class="prize d-flex">
												<li>{{price}}</li>
												<li class="old_prize">{{old_price}}</li>
											</ul>
											<div class="action">
												<div class="actions_inner">
													<ul class="add_to_links">
														<li><a class="cart" href="/cart"><i class="bi bi-shopping-bag4"></i></a></li>
														<li><a class="wishlist" href="/wishlist"><i class="bi bi-shopping-cart-full"></i></a></li>
														<li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
														<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
													</ul>
												</div>
											</div>
											<div class="product__hover--content">
												<ul class="rating d-flex">
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								{{/each}}		
								<!-- Start Single Product -->
							</div>
							{{/each}}		
						</div>
					</div>
					<!-- End Single Tab Content -->
					<!-- Start Single Tab Content -->
					<div class="row single__tab tab-pane fade" id="nav-children" role="tabpanel">
						<div class="product__indicator--4 arrows_style owl-carousel owl-theme">
							{{#each childrenBook}}
							<div class="single__product">
								<!-- Start Single Product -->
								{{#each this.data}}
								<div class="col-lg-3 col-md-4 col-sm-6 col-12">
									<div class="product product__style--3">
										<div class="product__thumb">
											<a class="first__img" ><img src={{cover}} alt={{title}}></a>
											<a class="second__img animation1" href="/book-detail/{{_id}}"><img src={{cover}} alt={{title}}></a>
											<div class="hot__box">
												<span class="hot-label">Bán chạy</span>
											</div>
										</div>
										<div class="product__content content--center">
											<h4><a >{{title}}</a></h4>
											<ul class="prize d-flex">
												<li>{{price}}</li>
												<li class="old_prize">{{old_price}}</li>
											</ul>
											<div class="action">
												<div class="actions_inner">
													<ul class="add_to_links">
														<li><a class="cart" href="/cart"><i class="bi bi-shopping-bag4"></i></a></li>
														<li><a class="wishlist" href="/wishlist"><i class="bi bi-shopping-cart-full"></i></a></li>
														<li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
														<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
													</ul>
												</div>
											</div>
											<div class="product__hover--content">
												<ul class="rating d-flex">
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								{{/each}}		
								<!-- Start Single Product -->
							</div>
							{{/each}}
						</div>
					</div>
					<!-- End Single Tab Content -->
					<!-- Start Single Tab Content -->
					<div class="row single__tab tab-pane fade" id="nav-language" role="tabpanel">
						<div class="product__indicator--4 arrows_style owl-carousel owl-theme">
							{{#each learnForeignLanguageBook}}
								<div class="single__product">
								<!-- Start Single Product -->
								{{#each this.data}}
								<div class="col-lg-3 col-md-4 col-sm-6 col-12">
									<div class="product product__style--3">
										<div class="product__thumb">
											<a class="first__img" href="/book-detail/{{_id}}"><img src={{cover}} alt={{title}}></a>
											<a class="second__img animation1" href="/book-detail/{{_id}}"><img src={{cover}} alt={{title}}></a>
											<div class="hot__box">
												<span class="hot-label">Bán chạy</span>
											</div>
										</div>
										<div class="product__content content--center">
											<h4><a href="/book-detail/{{_id}}">{{title}}</a></h4>
											<ul class="prize d-flex">
												<li>{{price}}</li>
												<li class="old_prize">{{old_price}}</li>
											</ul>
											<div class="action">
												<div class="actions_inner">
													<ul class="add_to_links">
														<li><a class="cart" href="/cart"><i class="bi bi-shopping-bag4"></i></a></li>
														<li><a class="wishlist" href="/wishlist"><i class="bi bi-shopping-cart-full"></i></a></li>
														<li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
														<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
													</ul>
												</div>
											</div>
											<div class="product__hover--content">
												<ul class="rating d-flex">
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								{{/each}}		
								<!-- Start Single Product -->
							</div>
							{{/each}}
						</div>
					</div>
					<!-- End Single Tab Content -->
					<!-- Start Single Tab Content -->
					<div class="row single__tab tab-pane fade" id="nav-science" role="tabpanel">
						<div class="product__indicator--4 arrows_style owl-carousel owl-theme">
							{{#each economicBook}}
								<div class="single__product">
								<!-- Start Single Product -->
								{{#each this.data}}
								<div class="col-lg-3 col-md-4 col-sm-6 col-12">
									<div class="product product__style--3">
										<div class="product__thumb">
											<a class="first__img" href="/book-detail/{{_id}}"><img src="{{cover}}" alt="{{title}}"></a>
											<a class="second__img animation1" href="/book-detail/{{_id}}"><img src="{{cover}}" alt="{{title}}"></a>
											<div class="hot__box">
												<span class="hot-label">Bán chạy</span>
											</div>
										</div>
										<div class="product__content content--center">
											<h4><a href="/book-detail/{{_id}}">{{title}}</a></h4>
											<ul class="prize d-flex">
												<li>{{price}}</li>
												<li class="old_prize">{{old_price}}</li>
											</ul>
											<div class="action">
												<div class="actions_inner">
													<ul class="add_to_links">
														<li><a class="cart" href="/cart"><i class="bi bi-shopping-bag4"></i></a></li>
														<li><a class="wishlist" href="/wishlist"><i class="bi bi-shopping-cart-full"></i></a></li>
														<li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
														<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
													</ul>
												</div>
											</div>
											<div class="product__hover--content">
												<ul class="rating d-flex">
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								{{/each}}		
								<!-- Start Single Product -->
							</div>
							{{/each}}
						</div>

					</div>
					<!-- End Single Tab Content -->
				</div>
			</div>
		</section>

<!-- Start NEwsletter Area Area -->
		<section class="wn__newsletter__area bg-image--2">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 offset-lg-5 col-md-12 col-12 ptb--150">
						<div class="section__title text-center stay">
							<h2>Đăng kí theo dõi</h2>
						</div>
						<div class="newsletter__block text-center">
							<p>Đăng kí theo dõi để nhận được những thông tin cập nhất mới nhất về sản phẩm mà bạn quan tâm</p>
							<form action="#">
								<div class="newsletter__box">
									<input type="email" placeholder="Enter your e-mail">
									<button>Subscribe</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End NEwsletter Area -->

		<!-- Start Best Seller Area -->
		<section class="wn__product__area brown--color pt--80  pb--30">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section__title text-center">
							<h2 class="title__be--2"><span class="color--theme">Sản phẩm bán chạy</span></h2>
						</div>
					</div>
				</div>
				<!-- Start Single Tab Content -->
				<div class="furniture--4 border--round arrows_style owl-carousel owl-theme row mt--50">
					<!-- Start Single Product -->
					{{#each bestSellerBook}}
					<div class="product product__style--3">
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="product__thumb">
								<a class="first__img" href="/book-detail/{{_id}}"><img src={{cover}}></a>
								<div class="hot__box">
									<span class="hot-label">Sản phẩm bán chạy</span>
								</div>
							</div>
							<div class="product__content content--center">
								<h4><a href="/book-detail/{{_id}}">{{title}}</a></h4>
								<ul class="prize d-flex">
									<li>{{price}}</li>
									<li class="old_prize">{{old_price}}</li>
								</ul>
								<div class="action">
									<div class="actions_inner">
										<ul class="add_to_links">
											<li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a>
											</li>
											<li><a class="wishlist" href="wishlist.html"><i
														class="bi bi-shopping-cart-full"></i></a></li>
											<li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
											<li><a data-toggle="modal" title="Quick View"
													class="quickview modal-view detail-link" href="#productmodal"><i
														class="bi bi-search"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="product__hover--content">
									<ul class="rating d-flex">
										<li class="on"><i class="fa fa-star-o"></i></li>
										<li class="on"><i class="fa fa-star-o"></i></li>
										<li class="on"><i class="fa fa-star-o"></i></li>
										<li><i class="fa fa-star-o"></i></li>
										<li><i class="fa fa-star-o"></i></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					{{/each}}

				</div>
				<!-- End Single Tab Content -->
			</div>
		</section>

		

	</div>
	<!-- //Main wrapper -->