<body>
	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">

		<!-- Start Search Popup -->
		<div class="box-search-content search_active block-bg close__top">
			<form id="search_mini_form" class="minisearch" action="/book-shop" method="GET">
				<div class="field__search">
					<input name="q" type="text" placeholder="Search entire store here...">
					{{!-- <div class="action">
						<a href="/book-shop/?q=nhan"><i class="zmdi zmdi-search"></i></a>
					</div> --}}
				</div>
			</form>
			<div class="close__wrap">
				<span>close</span>
			</div>
		</div>
		<!-- End Search Popup -->


		<!-- Start Navigation area -->
		<div class="slider-area brown__nav slider--15 slide__activation slide__arrow01 owl-carousel owl-theme">
			<!-- Start Single Slide -->
			<div class="slide animation__style10 bg-image--1 fullscreen align__center--left">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="slider__content">
								<div class="contentbox">
									<h3>Mua <span> những</span></h3>
									<h3>cuốn sách <span> hay nhất </span></h3>
									<h3>ở đây </span></h3>
									<a class="shopbtn" href="book-shop">Mua ngay</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Single Slide -->
			<!-- Start Single Slide -->
			<div class="slide animation__style10 bg-image--7 fullscreen align__center--left">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="slider__content">
								<div class="contentbox">
									<h3>Mua <span> những</span></h3>
									<h3>cuốn sách <span> hay nhất </span></h3>
									<h3>ở đây </span></h3>
									<a class="shopbtn" href="/book-shop">Mua ngay</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Single Slide -->
		</div>
		<!-- End Navigation area -->

		<!-- ALL PRODUCT -->
		<section class="wn__bestseller__area bg--white pt--80  pb--30">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section__title text-center">
							<h2 class="title__be--2"> <span class="color--theme">Thể loại thường đọc</span></h2>
						</div>
					</div>
				</div>
				<div class="row mt--50">
					<div class="col-md-12 col-lg-12 col-sm-12">
						<div class="product__nav nav justify-content-center" role="tablist">
                            <a class="nav-item nav-link active" data-toggle="tab" href="#nav-lifeSkills" role="tab">Kỹ năng sống</a>
                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-children" role="tab">Thiếu nhi</a>
                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-language" role="tab">Học ngoại ngữ</a>
                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-science" role="tab">Kinh tế</a>
                        </div>
						<a href="/book-shop" class="btn see-more-btn">Xem thêm <i class="fas fa-long-arrow-alt-right"></i></a>
					</div>
				</div>
				<div class="tab__container mt--60">
			
					<!-- Start Single Tab Content -->
					<div class="row single__tab tab-pane fade show active" id="nav-lifeSkills" role="tabpanel">
						<div class="product__indicator--4 arrows_style owl-carousel owl-theme">
							{{#each softSkillBook}}
							<div class="single__product">
								<!-- Start Single Product -->
								{{#each this.data}}
								<div class="col-lg-3 col-md-4 col-sm-6 col-12">
									<div class="product product__style--3">
										<div class="product__thumb">
											<a class="first__img" href="/book-detail/{{_id}}"><img src="{{cover}}" alt="{{title}}"></a>
											<a class="second__img animation1" href="/book-detail/{{_id}}"><img src="{{cover}}" alt="{{title}}"></a>
											{{#if best_seller}}
											<div class="hot__box">
												<span class="hot-label">Bán chạy</span>
											</div>
											{{/if}}
										</div>
										<div class="product__content content--center">
											<h4><a href="/book-detail/{{_id}}">{{title}}</a></h4>
											<ul class="prize d-flex">
												<li>{{price}}</li>
												<li class="old_prize">{{old_price}}</li>
											</ul>
										</div>
									</div>
								</div>
								{{/each}}		
								<!-- Start Single Product -->
							</div>
							{{/each}}		
						</div>
					</div>
					<!-- End Single Tab Content -->
					<!-- Start Single Tab Content -->
					<div class="row single__tab tab-pane fade" id="nav-children" role="tabpanel">
						<div class="product__indicator--4 arrows_style owl-carousel owl-theme">
							{{#each childrenBook}}
							<div class="single__product">
								<!-- Start Single Product -->
								{{#each this.data}}
								<div class="col-lg-3 col-md-4 col-sm-6 col-12">
									<div class="product product__style--3">
										<div class="product__thumb">
											<a class="first__img" href="/book-detail/{{_id}}"><img src={{cover}} alt={{title}}></a>
											<a class="second__img animation1" href="/book-detail/{{_id}}"><img src={{cover}} alt={{title}}></a>
											{{#if best_seller}}
											<div class="hot__box">
												<span class="hot-label">Bán chạy</span>
											</div>
											{{/if}}
										</div>
										<div class="product__content content--center">
											<h4><a href="/book-detail/{{_id}}">{{title}}</a></h4>
											<ul class="prize d-flex">
												<li>{{price}}</li>
												<li class="old_prize">{{old_price}}</li>
											</ul>
										</div>
									</div>
								</div>
								{{/each}}		
								<!-- Start Single Product -->
							</div>
							{{/each}}
						</div>
					</div>
					<!-- End Single Tab Content -->
					<!-- Start Single Tab Content -->
					<div class="row single__tab tab-pane fade" id="nav-language" role="tabpanel">
						<div class="product__indicator--4 arrows_style owl-carousel owl-theme">
							{{#each learnForeignLanguageBook}}
								<div class="single__product">
								<!-- Start Single Product -->
								{{#each this.data}}
								<div class="col-lg-3 col-md-4 col-sm-6 col-12">
									<div class="product product__style--3">
										<div class="product__thumb">
											<a class="first__img" href="/book-detail/{{_id}}"><img src={{cover}} alt={{title}}></a>
											<a class="second__img animation1" href="/book-detail/{{_id}}"><img src={{cover}} alt={{title}}></a>
											{{#if best_seller}}
											<div class="hot__box">
												<span class="hot-label">Bán chạy</span>
											</div>
											{{/if}}
										</div>
										<div class="product__content content--center">
											<h4><a href="/book-detail/{{_id}}">{{title}}</a></h4>
											<ul class="prize d-flex">
												<li>{{price}}</li>
												<li class="old_prize">{{old_price}}</li>
											</ul>
										</div>
									</div>
								</div>
								{{/each}}		
								<!-- Start Single Product -->
							</div>
							{{/each}}
						</div>
					</div>
					<!-- End Single Tab Content -->
					<!-- Start Single Tab Content -->
					<div class="row single__tab tab-pane fade" id="nav-science" role="tabpanel">
						<div class="product__indicator--4 arrows_style owl-carousel owl-theme">
							{{#each economicBook}}
								<div class="single__product">
								<!-- Start Single Product -->
								{{#each this.data}}
								<div class="col-lg-3 col-md-4 col-sm-6 col-12">
									<div class="product product__style--3">
										<div class="product__thumb">
											<a class="first__img" href="/book-detail/{{_id}}"><img src="{{cover}}" alt="{{title}}"></a>
											<a class="second__img animation1" href="/book-detail/{{_id}}"><img src="{{cover}}" alt="{{title}}"></a>
											{{#if best_seller}}
											<div class="hot__box">
												<span class="hot-label">Bán chạy</span>
											</div>
											{{/if}}
										</div>
										<div class="product__content content--center">
											<h4><a href="/book-detail/{{_id}}">{{title}}</a></h4>
											<ul class="prize d-flex">
												<li>{{price}}</li>
												<li class="old_prize">{{old_price}}</li>
											</ul>
										</div>
									</div>
								</div>
								{{/each}}		
								<!-- Start Single Product -->
							</div>
							{{/each}}
						</div>

					</div>
					<!-- End Single Tab Content -->
				</div>
			</div>
		</section>

<!-- Start NEwsletter Area Area -->
		<section class="wn__newsletter__area bg-image--2">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 offset-lg-5 col-md-12 col-12 ptb--150">
						<div class="section__title text-center stay">
							<h2>Đăng kí theo dõi</h2>
						</div>
						<div class="newsletter__block text-center">
							<p>Đăng kí theo dõi để nhận được những thông tin cập nhất mới nhất về sản phẩm mà bạn quan tâm</p>
							<form action="#">
								<div class="newsletter__box">
									<input type="email" placeholder="Địa chỉ E-mail">
									<button>Đăng ký</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End NEwsletter Area -->

		<!-- Start Best Seller Area -->
		<section class="wn__product__area brown--color pt--80  pb--30">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section__title text-center">
							<h2 class="title__be--2"><span class="color--theme">Sách bán chạy</span></h2>
						</div>
					</div>
				</div>
				<!-- Start Single Tab Content -->
				<div class="furniture--4 border--round arrows_style owl-carousel owl-theme row mt--50">
					<!-- Start Single Product -->
					{{#each bestSellerBook}}
					<div class="product product__style--3">
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="product__thumb">
								<a class="first__img" href="/book-detail/{{_id}}"><img src={{cover}}></a>
								<div class="hot__box">
									<span class="hot-label">Bán chạy</span>
								</div>
							</div>
							<div class="product__content content--center">
								<h4><a href="/book-detail/{{_id}}">{{title}}</a></h4>
								<ul class="prize d-flex">
									<li>{{price}}</li>
									<li class="old_prize">{{old_price}}</li>
								</ul>
							</div>
						</div>
					</div>
					{{/each}}

				</div>
				<!-- End Single Tab Content -->
			</div>
		</section>
	</div>
	<!-- //Main wrapper -->