<!-- Main wrapper -->
<div class="wrapper" id="wrapper">
  <!-- Start Search Popup -->
  <div class="box-search-content search_active block-bg close__top">
    <form id="search_mini_form" class="minisearch" action="#">
      <div class="field__search">
        <input type="text" placeholder="Search entire store here..." />
        <div class="action">
          <a href="#"><i class="zmdi zmdi-search"></i></a>
        </div>
      </div>
    </form>
    <div class="close__wrap">
      <span>close</span>
    </div>
  </div>
  <!-- End Search Popup -->
  <!-- Start Bradcaump area -->
  <div class="ht__bradcaump__area bg-image--4">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="bradcaump__inner text-center">
            <h2 class="bradcaump-title">QUẢN LÝ ĐƠN HÀNG</h2>
            <nav class="bradcaump-content">
              <a class="breadcrumb_item" href="/">Trang chủ</a>
              <span class="brd-separetor">/</span>
              <span class="breadcrumb_item active">Quản lý đơn hàng</span>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Bradcaump area -->
  <!-- Start Faq Area -->
  <section class="wn__faq__area bg--white pt--80 pb--60">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="wn__accordeion__content">
            <h2>
              NHỮNG ĐƠN HÀNG CỦA BẠN
            </h2>
          </div>
          <div id="accordion" class="wn_accordion" role="tablist">
            {{#each order}}
            <div class="card">
                {{!-- {{#unless isSuccess}}
                <form method="POST" action="/user/purchase" id="formSubmitRecieving">
                    <input type="hidden" name="orderID" value="{{this._id}}" />
                </form>
                <button class="btn-lg btn-success"type="submit" form ="formSubmitRecieving">Xác nhận đã giao</button>
                
                {{else}}
                <button class="btn-lg btn-secondary" disabled="disabled">Đã giao thành công</button>
                {{/unless}} --}}
                <button class="btn-lg btn-secondary" disabled="disabled">{{order_status}}</button>
              <div class="acc-header" role="tab" id={{headingId}}>
                <h5>
                  <a data-toggle="collapse" href=#{{collapseId}} role="button" aria-expanded="true"
                    aria-controls={{collapseId}}>{{this.date}}</a>
                </h5>
                
              </div>
              <div id={{collapseId}} class="collapse show" role="tabpanel" aria-labelledby={{headingId}}
                data-parent="#accordion">
                <div class="card-body">
                  
                {{#with bill}}

                  <div class="cart-main-area section-padding--lg bg--white">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 ol-lg-12">
                                <form action="#">               
                                    <div class="table-content wnro__table table-responsive">
                                        <table>
                                            <thead>
                                                <tr >
                                                    <th class="product-thumbnail">Hình Ảnh</th>
                                                    <th class="product-name">Sách</th>
                                                    <th class="product-price">Giá</th>
                                                    <th class="product-quantity">Số lượng</th>
                                                    <th class="product-subtotal">Thành tiền</th>
                                                </tr>
                                            </thead>
                                            <tbody id="cart-body">
                                                {{#each product}}
                                                <tr>
                                                    <td class="product-thumbnail"><a href="/book-detail/{{item._id}}"><img src="{{item.cover}}" alt="product img"></a></td>
                                                    <td class="product-name"><a href="/book-detail/{{item._id}}">{{item.title}}</a></td>
                                                    <td class="product-price"><span class="amount">{{item.price}}</span></td>
                                                    {{!-- <td class="product-quantity"><input id="sst{{item._id}}" type="number" value="{{quantity}}" ></td> --}}
                                                    <td class="product-quantity">
                                                        <input type="number" id="sst{{item._id}}" min="1" max="22" value="{{quantity}}" class="val quality_item" disabled>
                                                    </td>
                                                    
                                                    <td class="product-subtotal" id="price{{item._id}}">{{price}}</td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </form> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 offset-lg-6">
                                <div class="cartbox__total__area">
                                    <div class="cart__total__amount">
                                        <span>Số tiền phải trả: </span>
                                        <span id="total-price">{{costAfterAddShippingCost}} VNĐ</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>  
                </div>
                {{/with}}
                
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Faq Area -->
</div>
<!-- //Main wrapper -->