
<link rel="stylesheet" href="/css/style.css">

	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		
		<!-- Start Search Popup -->
		<div class="box-search-content search_active block-bg close__top">
			<form id="search_mini_form" class="minisearch" action="#">
				<div class="field__search">
					<input type="text" placeholder="Search entire store here...">
					<div class="action">
						<a href="#"><i class="zmdi zmdi-search"></i></a>
					</div>
				</div>
			</form>
			<div class="close__wrap">
				<span>close</span>
			</div>
		</div>
		<!-- End Search Popup -->
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area bg-image--2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                        	<h2 class="bradcaump-title">Giỏ hàng</h2>
                            <nav class="bradcaump-content">
                              <a class="breadcrumb_item" href="/">Trang chủ</a>
                              <span class="brd-separetor">/</span>
                              <span class="breadcrumb_item active">Giỏ hàng</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- cart-main-area start -->
        {{#with cart}}
        <div class="cart-main-area section-padding--lg bg--white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 ol-lg-12">
                        <form action="#">               
                            <div class="table-content wnro__table table-responsive">
                                <table>
                                    <thead>
                                        <tr class="title-top">
                                            <th class="product-thumbnail">Hình Ảnh</th>
                                            <th class="product-name">Sách</th>
                                            <th class="product-price">Giá</th>
                                            <th class="product-quantity">Số lượng</th>
                                            <th class="product-subtotal">Thành tiền</th>
                                            <th class="product-remove">Xóa</th>
                                        </tr>
                                    </thead>
                                    <tbody id="cart-body">
                                        {{#each items}}
                                        <tr id="item{{item._id}}">
                                            <td class="product-thumbnail"><a href="book-detail/{{item._id}}"><img src="{{item.cover}}" alt="product img"></a></td>
                                            <td class="product-name"><a href="book-detail/{{item._id}}">{{item.title}}</a></td>
                                            <td class="product-price"><span class="amount">{{item.price}}</span></td>
                                            {{!-- <td class="product-quantity"><input id="sst{{item._id}}" type="number" value="{{quantity}}" ></td> --}}
                                            <td class="product-quantity">
                                                <input type="button" value="-" class="decreaseVal" onclick="decreaseValue('{{item._id}}')">
                                                <input type="number" id="sst{{item._id}}" min="1" max="22" value="{{quantity}}" class="val" disabled>
                                                <input type="button" value="+" class="increaseVal" onclick="encreaseValue('{{item._id}}')">
                                            </td>
                                            
                                            <td class="product-subtotal" id="price{{item._id}}">{{price}}</td>
                                            <td class="product-remove"><a onclick="removeCartItem('{{item._id}}')">X</a></td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </form> 
                        <div class="cartbox__btn">
                            <ul class="cart__btn__list d-flex flex-wrap flex-md-nowrap flex-lg-nowrap justify-content-between">
                                <li><a href="#">Nhận mã giảm giá</a></li>
                                <li><a href="/book-shop">Tiếp tục mua sắm</a></li>
                                <li><a onclick="clearCart()">Xóa toàn bộ</a></li>
                                <li><a onclick="checkQuantity('{{totalQuantity}}')">Thanh toán</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 offset-lg-6">
                        <div class="cartbox__total__area">
                            {{!-- <div class="cartbox-total d-flex justify-content-between">
                                <ul class="cart__total__list">
                                    <li>Cart total</li>
                                    <li>Sub Total</li>
                                </ul>
                                <ul class="cart__total__tk">
                                    <li>$70</li>
                                    <li>$70</li>
                                </ul>
                            </div> --}}
                            <div class="cart__total__amount">
                                <span>Tổng số tiền: </span>
                                <span id="total-price">{{totalPrice}} VNĐ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        {{/with}}
        <!-- cart-main-area end -->
		<!-- Footer Area -->
		<!-- //Footer Area -->

	</div>
	<!-- //Main wrapper -->
    <script>
        function encreaseValue(id) {
            let rs = document.getElementById(`sst${id}`);
            rs.value = parseInt(rs.value) + 1;
            updateCart(id,rs.value); 
        }

        function decreaseValue(id) {
            let rs = document.getElementById(`sst${id}`);
            if(rs.value <=1){
                removeCartItem(id);
            }
            else{
                rs.value = parseInt(rs.value) -1;
                updateCart(id,rs.value); 
            }
        }

        function checkQuantity(value){
            if(parseInt(value)==0){
                confirm("Hãy thêm sản phẩm vào giỏ hàng trước khi thanh toán !");
            }
            else{
                window.location.href = "/checkout";
            }
        }
    </script>
