
	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		
		<!-- Start Search Popup -->
		<div class="box-search-content search_active block-bg close__top">
			<form id="search_mini_form" class="minisearch" action="#">
				<div class="field__search">
					<input type="text" placeholder="Search entire store here...">
					<div class="action">
						<a href="#"><i class="zmdi zmdi-search"></i></a>
					</div>
				</div>
			</form>
			<div class="close__wrap">
				<span>Đóng</span>
			</div>
		</div>
		<!-- End Search Popup -->
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area bg-image--4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                        	<h2 class="bradcaump-title">Thanh toán</h2>
                            <nav class="bradcaump-content">
                              <a class="breadcrumb_item" href="/">Trang chủ</a>
                              <span class="brd-separetor">/</span>
                              <span class="breadcrumb_item active">Thanh toán</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- Start Checkout Area -->
        <section class="wn__checkout__area section-padding--lg bg__white">
        	<div class="container">
        		<div class="row">
        			<div class="col-lg-12">
        				<div class="wn_checkout_wrap">
							{{#if message}}
        					<div class="checkout_info">
        						<span style="color: red"><b><i>Tài khoản của bạn đã bị khóa. Bạn không thể thanh toán.</i></b></span>
        					</div>
							{{/if}}
        				</div>
        			</div>
        		</div>
        		<div class="row">
        			<div class="col-lg-6 col-12">
        				<div class="customer_details">

							<form id="customerForm" method="POST" action="/checkout">
        					<h3>Chi tiết đơn hàng</h3>
        					<div class="customar__field">
        						<div class="margin_between">
	        						<div class="input_box space_between">
	        							<label>Họ <span>*</span></label>
	        							<input type="text" required name="customer_first_name" value={{user.first_name}}>
	        						</div>
	        						<div class="input_box space_between">
	        							<label>Tên <span>*</span></label>
	        							<input type="text" required name="customer_last_name" value={{user.last_name}}>
	        						</div>
        						</div>
        						<div class="input_box">
        							<label>Tên công ty <span></span></label>
        							<input type="text" name="customer_company">
        						</div>

        						<div class="input_box">
        							<label>Tỉnh/ Thành phố<span>*</span></label>
        							<select class="select__option" name="customer_city">
										<option>Chọn tỉnh của bạn</option>
										<option selected="selected">TP Hồ Chí Minh</option>
										<option>Hà Nội</option>
										<option>Cần Thơ</option>
										<option>Hải Phòng</option>
										<option>Huế</option>
										<option>Đà Nẵng</option>
        							</select>
        						</div>

								<div class="input_box">
        							<label>Địa chỉ <span>*</span></label>
        							<input type="text" placeholder="Street address" required name="customer_address">
        						</div>
								<div class="margin_between">
									<div class="input_box space_between">
										<label>Số điện thoại <span>*</span></label>
										<input type="text" pattern="[0-9]{7,}" required name="customer_phone" value={{user.phone_number}}>
										<small>Định dạng: 0763949737</small>
									</div>

									<div class="input_box space_between">
										<label>Địa chỉ Email <span>*</span></label>
										<input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required name="customer_email" value={{user.user_email}}>
										<small>Định dạng: web@example.com</small>
									</div>							
								</div>
        					</div>
							</form>
        				</div>
        			</div>
					
        			<div class="col-lg-6 col-12 md-mt-40 sm-mt-40">
						{{#with cart}}
        				<div class="wn__order__box">
        					<h3 class="onder__title">Hóa đơn của bạn</h3>
        					<ul class="order__total">
        						<li>Sản phẩm</li>
        						<li>Tổng tiền</li>
        					</ul>
        					<ul class="order_product">
								{{#each items}}
        						<li>{{item.title}} × {{quantity}}<span>{{price}} VNĐ</span></li>
								{{/each}}
        					</ul>
        					<ul class="shipping__method">
        						<li>Tổng tiền <span>{{totalPrice}} VNĐ</span></li>
        						<li>Phí ship
        							<ul>
										{{#if shipTK}}
        								<li>
        									<input name="shipping_method[0]" data-index="0" value="30" checked="checked" type="radio" onclick="setShipTK()">
        									<label>GH TK: 30.000 VNĐ</label>
        								</li>
        								<li>
        									<input name="shipping_method[0]" data-index="0" value="80" type="radio" onclick="setShipN()">
        									<label>GH nhanh: 80.000 VNĐ</label>
        								</li>
										{{else}}
										<li>
        									<input name="shipping_method[0]" data-index="0" value="30"  type="radio" onclick="setShipTK()">
        									<label>GH TK: 30.000 VNĐ</label>
        								</li>
        								<li>
        									<input name="shipping_method[0]" data-index="0" value="80" type="radio" onclick="setShipN()" checked="checked">
        									<label>GH nhanh: 80.000 VNĐ</label>
        								</li>
										{{/if}}
        							</ul>
        						</li>
        					</ul>
        					<ul class="total__amount">
        						<li>Số tiền phải trả <span id="total-cost">{{totalCost}} VNĐ</span></li>
        					</ul>
        				</div>
						{{/with}}

						{{#if user}}
						<div class="text-center">
							<br>
							<button class="btn-lg btn-primary" form="customerForm" type ="submit">Thanh toán</a>
						</div>
						{{/if}}
        			</div>
					
        		</div>
        	</div>
        </section>
        <!-- End Checkout Area -->

	</div>
	<!-- //Main wrapper -->

<script>
	function setShipTK(){
		updateShip(30000);
	}

	function setShipN(){
		updateShip(80000);
	}
</script>