
	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		
		<!-- Start Search Popup -->
		<div class="box-search-content search_active block-bg close__top">
			<form id="search_mini_form" class="minisearch" action="#">
				<div class="field__search">
					<input type="text" placeholder="Search entire store here...">
					<div class="action">
						<a href="#"><i class="zmdi zmdi-search"></i></a>
					</div>
				</div>
			</form>
			<div class="close__wrap">
				<span>Đóng</span>
			</div>
		</div>
		<!-- End Search Popup -->
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area bg-image--4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                        	<h2 class="bradcaump-title">Thanh toán</h2>
                            <nav class="bradcaump-content">
                              <a class="breadcrumb_item" href="/">Trang chủ</a>
                              <span class="brd-separetor">/</span>
                              <span class="breadcrumb_item active">Thanh toán</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- Start Checkout Area -->
        <section class="wn__checkout__area section-padding--lg bg__white">
        	<div class="container">
        		<div class="row">
        			<div class="col-lg-12">
        				<div class="wn_checkout_wrap">
							{{#unless user}}
        					<div class="checkout_info">
        						<span>Bạn cần đăng nhập để mua hàng !</span>
        						<a style="color: red; font-size:small" href="/user/login">Bấm vào đây để đăng nhập</a>
        					</div>
        					{{!-- <div class="checkout_login">
        						<form class="wn__checkout__form" action="#">

        							<div class="input__box">
        								<label>Tên đăng nhập hoặc email <span>*</span></label>
        								<input type="text">
        							</div>

        							<div class="input__box">
        								<label>Mật khẩu <span>*</span></label>
        								<input type="password">
        							</div>
        							<div class="form__btn">
        								<button>Đăng nhập</button>
        								<label class="label-for-checkbox">
        									<input id="rememberme" name="rememberme" value="forever" type="checkbox">
        									<span>Ghi nhớ đăng nhập</span>
        								</label>
        								<a href="#">Quên mật khẩu?</a>
        							</div>
        						</form>
        					</div> --}}
							{{!-- {{else}}
        					<div class="checkout_info">
        						<span>Bạn có mã giảm giá? </span>
        						<a class="showcoupon" href="#">Nhập mã giảm giá của bạn ở đây</a>
        					</div>
        					<div class="checkout_coupon">
        						<form action="#">
        							<div class="form__coupon">
        								<input type="text" placeholder="Coupon code">
        								<button>Xác nhận</button>
        							</div>
        						</form>
        					</div> --}}
							{{/unless}}
        				</div>
        			</div>
        		</div>
        		<div class="row">
        			<div class="col-lg-6 col-12">
        				<div class="customer_details">

							<form id="customerForm" method="POST" action="/checkout">
        					<h3>Chi tiết đơn hàng</h3>
        					<div class="customar__field">
        						<div class="margin_between">
	        						<div class="input_box space_between">
	        							<label>Họ <span>*</span></label>
	        							<input type="text" required name="customer_first_name" value={{user.first_name}}>
	        						</div>
	        						<div class="input_box space_between">
	        							<label>Tên <span>*</span></label>
	        							<input type="text" required name="customer_last_name" value={{user.last_name}}>
	        						</div>
        						</div>
        						<div class="input_box">
        							<label>Tên công ty <span></span></label>
        							<input type="text" name="customer_company">
        						</div>

        						<div class="input_box">
        							<label>Tỉnh/ Thành phố<span>*</span></label>
        							<select class="select__option" name="customer_city">
										<option>Chọn tỉnh của bạn</option>
										<option selected="selected">TP Hồ Chí Minh</option>
										<option>Hà Nội</option>
										<option>Cần Thơ</option>
										<option>Hải Phòng</option>
										<option>Huế</option>
										<option>Đà Nẵng</option>
        							</select>
        						</div>

								<div class="input_box">
        							<label>Địa chỉ <span>*</span></label>
        							<input type="text" placeholder="Street address" required name="customer_address">
        						</div>
								{{!-- <div class="input_box">
									<label>Postcode / ZIP <span>*</span></label>
									<input type="text">
								</div> --}}
								<div class="margin_between">
									<div class="input_box space_between">
										<label>Số điện thoại <span>*</span></label>
										<input type="text" pattern="[0-9]{7,}" required name="customer_phone" value={{user.phone_number}}>
										<small>Định dạng: 0763949737</small>
									</div>
{{!-- 
									{{#if user}}
									<div class="input_box space_between">
										<label>Địa chỉ Email <span>*</span></label>
										<input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required name="customer_email" value="{{user_email}}">
										<small>Định dạng: web@example.com</small>
									</div> --}}
									{{!-- {{else}} --}}
									<div class="input_box space_between">
										<label>Địa chỉ Email <span>*</span></label>
										<input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required name="customer_email" value={{user.user_email}}>
										<small>Định dạng: web@example.com</small>
									</div>							
								</div>
        					</div>
							</form>
        					{{!-- <div class="create__account">
        						<div class="wn__accountbox">
	        						<input class="input-checkbox" name="createaccount" value="1" type="checkbox">
	        						<span>Create an account ?</span>
        						</div>
        						<div class="account__field">
        							<form action="#">
        								<label>Account password <span>*</span></label>
        								<input type="text" placeholder="password">
        							</form>
        						</div>
        					</div> --}}
        				</div>
						
        				{{!-- <div class="customer_details mt--20">
        					<div class="differt__address">
	        					<input name="ship_to_different_address" value="1" type="checkbox">
	        					<span>Giao hàng đến địa chỉ khác ?</span>
        					</div>
        					<div class="customar__field differt__form mt--40">
        						<div class="margin_between">
	        						<div class="input_box space_between">
	        							<label>Họ người nhận <span>*</span></label>
	        							<input type="text" id="reciever_first_name">
	        						</div>
	        						<div class="input_box space_between">
	        							<label>Tên người nhận <span>*</span></label>
	        							<input type="text" id="reciever_last_name">
	        						</div>
        						</div>
        						<div class="input_box">
        							<label>Tên công ty <span>*</span></label>
        							<input type="text" id="reciever_company">
        						</div>
        						<div class="input_box">
        							<label>Quốc gia<span>*</span></label>
										<select class="select__option">
											<option>Chọn quốc gia</option>
											<option>Việt Nam</option>
											<option>Trung Quốc</option>
											<option>Singapore</option>
											<option>Mỹ</option>
											<option>Campuchia</option>
											<option>Thái Lan</option>
										</select>
        						</div>

        						<div class="input_box">
        							<label>Tỉnh/ Thành phố<span>*</span></label>
        							<select class="select__option" id="reciever_city">
										<option>Chọn tỉnh của bạn</option>
										<option selected="selected">TP Hồ Chí Minh</option>
										<option>Hà Nội</option>
										<option>Cần Thơ</option>
										<option>Hải Phòng</option>
										<option>Huế</option>
										<option>Đà Nẵng</option>
        							</select>
        						</div>

								<div class="input_box">
        							<label>Địa chỉ <span>*</span></label>
        							<input type="text" placeholder="Street address" id="reciever_address">
        						</div>
								<div class="input_box">
									<label>Postcode / ZIP <span>*</span></label>
									<input type="text">
								</div>
								<div class="margin_between">
									<div class="input_box space_between">
										<label>Số điện thoại <span>*</span></label>
										<input type="tel" id="reciever_phone">
									</div>
									<div class="input_box space_between">
										<label>Địa chỉ Email <span>*</span></label>
										<input type="email" id="reciever_email">
									</div>
								</div>
        					</div>
        				</div> --}}
        			</div>
					
        			<div class="col-lg-6 col-12 md-mt-40 sm-mt-40">
						{{#with cart}}
        				<div class="wn__order__box">
        					<h3 class="onder__title">Hóa đơn của bạn</h3>
        					<ul class="order__total">
        						<li>Sản phẩm</li>
        						<li>Tổng tiền</li>
        					</ul>
        					<ul class="order_product">
								{{#each items}}
        						<li>{{item.title}} × {{quantity}}<span>{{price}} VNĐ</span></li>
        						{{!-- <li>Buscipit at magna × 1<span>$48.00</span></li>
        						<li>Buscipit at magna × 1<span>$48.00</span></li>
        						<li>Buscipit at magna × 1<span>$48.00</span></li> --}}
								{{/each}}
        					</ul>
        					<ul class="shipping__method">
        						<li>Tổng tiền <span>{{totalPrice}} VNĐ</span></li>
        						<li>Phí ship
        							<ul>
										{{#if shipTK}}
        								<li>
        									<input name="shipping_method[0]" data-index="0" value="30" checked="checked" type="radio" onclick="setShipTK()">
        									<label>GH TK: 30.000 VNĐ</label>
        								</li>
        								<li>
        									<input name="shipping_method[0]" data-index="0" value="80" type="radio" onclick="setShipN()">
        									<label>GH nhanh: 80.000 VNĐ</label>
        								</li>
										{{else}}
										<li>
        									<input name="shipping_method[0]" data-index="0" value="30"  type="radio" onclick="setShipTK()">
        									<label>GH TK: 30.000 VNĐ</label>
        								</li>
        								<li>
        									<input name="shipping_method[0]" data-index="0" value="80" type="radio" onclick="setShipN()" checked="checked">
        									<label>GH nhanh: 80.000 VNĐ</label>
        								</li>
										{{/if}}
        							</ul>
        						</li>
        					</ul>
        					<ul class="total__amount">
        						<li>Số tiền phải trả <span id="total-cost">{{totalCost}} VNĐ</span></li>
        					</ul>
        				</div>
						{{/with}}

						{{#if user}}
						<div class="text-center">
							<br>
							<button class="btn-lg btn-primary" form="customerForm" type ="submit">Thanh toán</a>
						</div>
						{{/if}}
						
					    {{!-- <div id="accordion" class="checkout_accordion mt--30" role="tablist">
						    <div class="payment">
						        <div class="che__header" role="tab" id="headingOne">
						          	<a class="checkout__title" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						                <span>Direct Bank Transfer</span>
						          	</a>
						        </div>
						        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
					            	<div class="payment-body">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</div>
						        </div>
						    </div>
						    <div class="payment">
						        <div class="che__header" role="tab" id="headingTwo">
						          	<a class="collapsed checkout__title" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							            <span>Cheque Payment</span>
						          	</a>
						        </div>
						        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
					          		<div class="payment-body">Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</div>
						        </div>
						    </div>
						    <div class="payment">
						        <div class="che__header" role="tab" id="headingThree">
						          	<a class="collapsed checkout__title" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							            <span>Cash on Delivery</span>
						          	</a>
						        </div>
						        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
					          		<div class="payment-body">Pay with cash upon delivery.</div>
						        </div>
						    </div>
						    <div class="payment">
						        <div class="che__header" role="tab" id="headingFour">
						          	<a class="collapsed checkout__title" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
							            <span>PayPal <img src="images/icons/payment.png" alt="payment images"> </span>
						          	</a>
						        </div>
						        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
					          		<div class="payment-body">Pay with cash upon delivery.</div>
						        </div>
						    </div>
					    </div> --}}

        			</div>
					
        		</div>
        	</div>
        </section>
        <!-- End Checkout Area -->

	</div>
	<!-- //Main wrapper -->

<script>
	function setShipTK(){
		updateShip(30000);
	}

	function setShipN(){
		updateShip(80000);
	}
</script>